.gallery__like {
  border: none;
  padding: 0;
  cursor: pointer;
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  width: 22px;
  padding-left: 40px;
  margin-right: 20px;
}

.gallery__like:hover {
  opacity: 0.5;
}

.gallery__like:active {
  background-image: url(../../../images/Union.svg);
}