.popup__input-info {
  border: 0;
  border-bottom: 1px solid rgba(28, 28, 28, .2);
  height: 27px;
  margin-top: 29px;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}